spring:
  application:
    name: auth-api
  data:
    redis:
      host: 133.186.241.167
      port: 6379
      password: '*N2vya7H@muDTwdNMR!'
      database: 7

server:
  port: 8100

jwt:
  secret: f5aec30ed11e9cd92f23f391ddc24ae931e08ac1352487d178e0547e50bd17d1
  refresh: 18fe93b955bf4861670b536214502d889288e3523f1ae02c6b28fae3b71f1bc3

management:
  health:
    status:
      order: DOWN, UP
  endpoint:
    jolokia:
      enabled: true
    metrics:
      enabled: true
    pause:
      enabled: true
    resume:
      enabled: true
    restart:
      enabled: true
    shutdown:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  info:
    env:
      enabled: true

eureka:
  instance:
    instance-id: auth-api
    hostname: localhost
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://admin:1234@localhost:8761/eureka

nhncloud:
  keymanager:
    appkey: 2SxwmBzUfnqJaA2A
    redis:
      database: 8af86c225eb84768a87fa1d6b459e492
      host: d105545a8b904e9ba27eab53d462c3a7
      port: 3c38f3964cdd4c0084bd21426cd6b93f
      password: abf22e4f003c42ae85c8d7e1ac668500
